<!-- ---
import { tokenUtilsDocumentation } from '../data/tokenUtils';
---

{Object.entries(tokenUtilsDocumentation).map(([name, util]) => (
  <div class="token-util">
    <h3>{name}</h3>
    <p>{util.description}</p>
    
    <pre class="language-typescript"><code>{util.signature}</code></pre>
    
    <h4>Examples:</h4>
    {util.examples.map(example => (
      <div class="example">
        <p>{example.description}</p>
        <pre class="language-javascript"><code>{example.code}</code></pre>
      </div>
    ))}
  </div>
))}

<style>
.token-util {
  margin-bottom: 2rem;
}

.example {
  margin: 1rem 0;
}
</style> -->
